<!-- views/partials/header.ejs - Client Side Header -->
<!DOCTYPE html>
<html>
    <head>
        <!-- Metadata -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Chat2.1</title>
        <meta name="author" content="Tom Berey">
        <meta name="description" content="Chatroom API">
        <!-- Styling. -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Pacifico">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Comfortaa">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Caveat">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Pacifico">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Marcellus+SC">
        <link rel="stylesheet" type="text/css" href="styling.css">
        
        <!-- jQuery/Scripting CDN. -->
        <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    </head>
    <body>